:root {
    --bg-color: #FFFFFF;
    --text-color: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: grid;
    background-color: var(--bg-color);
    color: var(--text-color);
    line-height: 2.2;
}

main {
    width: 100%;
    display: grid;
    grid-template-rows: auto auto auto;
    gap: 2rem;
    padding: 1rem;
    margin: 0 auto;
}

h1 {
    font-size: 3rem;
    line-height: 1.6;
}

.header-title-content {
    display: grid;
    align-items: center;
    grid-template-columns: 100%;
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 4px;
    margin-bottom: 1rem;
}

nav a {
    background-color: var(--bg-color);
    text-decoration: none;
    padding: 1rem 0;
    border: 1px solid var(--text-color);
}

nav a:hover {
    background-color: var(--text-color);
    color: var(--bg-color);
}

a {
    text-align: center;
    color: var(--text-color);
    border-radius: 4px;
}

hr {
    border-color: var(--text-color);
}

ul {
    margin-left: 2rem;
    margin-bottom: 1rem;
}

@media (min-width: 768px) {
    main {
        width: 768px;
    }
}

@media (min-width: 1024px) {
    main {
        width: 1024px;
    }

    .header-title-content {
        grid-template-columns: 80% 20%;
    }

    nav {
       margin-bottom: 0;
    }

    h1 {
        line-height: inherit;
    }

}

@media (min-width: 1440px) {
    main {
        min-width: 1200px;
    }

    nav > :nth-child(1):nth-last-child(2) {
        grid-column: 1;
    }

    nav > :nth-child(2):nth-last-child(1) {
        grid-column: 2;
    }
}
