:root {
  --bg-color: #fff;
  --text-color: #333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Ubuntu;
  display: grid;
  background-color: var(--bg-color);
  color: var(--text-color);
  line-height: 1.8;
  padding: 1rem;
}

main {
  display: grid;
  grid-template-rows: auto auto auto;
  gap: 2rem;
  margin: 0 auto;
}


h1 {
  font-size: 3rem;
}

address {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  grid-template-rows: repeat(3, 1fr);
  column-gap: 1rem;
  width: 100%;
}

a {
  cursor: pointer;
  color: var(--text-color);
  display: block;
  border-radius: 4px;
}

a:hover {
  cursor: pointer;
}

dt {
  margin-bottom: 1rem;
}

ul {
  margin-left: 2rem;
  margin-bottom: 1rem;
}

section ul:has(:nth-last-child(7)) {
  columns: 3;
}

@media print {
  footer {
    display: none;
  }

  hr:last-of-type {
    display: none;
  }
}
