<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="google-site-verification" content="dkuXkmOC5fJIbVfeA44OU_m5iZMPNz_TXya1X9lwXBo">
    <link rel="stylesheet" href="/css/global.css"/>
    <link rel="stylesheet" href="/css/post.css"/>
    <title>{{ TITLE }}</title>
</head>

<body>
<main>
    <header>
        <div class="header-title-content">
            <h1 class="name">{{ TITLE }}</h1>
            <nav>
                <a href="/">Home</a>
                <a href="/blog">Blogs</a>
                <a href="https://github.com/sukhiboi" target="_blank">Github</a>
            </nav>
        </div>
    </header>

    <hr/>

    <article>
        {{ CONTENT }}
    </article>
</main>


</body>

</html>
